*{
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 70%;
  margin: auto;
}

.prodotti{
  margin-top: 25px;
}

.prodotto{
  position: relative;
  display: inline-block;
}

.sconto{
  position: absolute;
  top: 0;
  right: 0;
}

.cuore{
  display: none;
  position: absolute;
  bottom: 10px;
  right: 50%;
  font-size: 30px;
  color: red;
}

.prodotto:hover{
  cursor: pointer;
}

.prodotto:hover > .cuore{
  display: block;
}

/*Dai .prodotti prendi i figli .prodotto partendo
 da quello in posizione 1 saltando di 2 posizioni(elementi dispari),
 di questi prendi i figli .sconto*/
.prodotti > .prodotto:nth-child(2n+1) > .sconto{
  background: green;
}

/*Dai .prodotti prendi il figlio .prodotto in posizione
  2, e di questo prendi il figlio .sconto*/
.prodotti > .prodotto:nth-child(2) > .sconto{
  background: red;
}
