*{
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 70%;
  margin: auto;
}

.prodotti{
  margin-top: 25px;
}

.prodotto{
  position: relative;
  display: inline-block;
}

.sconto{
  position: absolute;
  top: 0;
  right: 0;
  background: green;
}

.cuore{
  position: absolute;
  bottom: 10px;
  right: 50%;
}
